* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #FF7F50;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border-bottom: 4px solid #FFF8DC;
  outline: none;
  padding-bottom: 30px;
  text-align: center;
  width: 200px;
}

.login.page .title {
  font-size: 100%;
}

.login.page .usernameInput {
  font-size: 100%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #FFF8DC;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: blue;
  font-size: 100%;
  margin: 7px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: blue;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #6495ED;
  bottom: 0;
  height: 60px;
  padding-left: 10px;
  position: absolute;
  width: 100%;
}